function Main.main 1
    push constant 12894
    call Random.setSeed 1
    pop temp 0
    call FloatSquare.new 0
    pop local 0
    push local 0
    call FloatSquare.run 1
    pop temp 0
    push local 0
    call FloatSquare.dispose 1
    pop temp 0
    push constant 0
    return